<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
    <title>Conduct</title>
</head>
<body class>
    {{>navbar}}
    {{>heading}}
    <div class="main-content">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                <th scope="col">Sr. No.</th>
                <th scope="col">Name</th>
                <th scope="col">Roll No.</th>
                <th scope="col">Exam Room</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">1</th>
                <td>{{ name1 }}</td>
                <td>{{ rollno1 }}</td>
                <td>{{ roomno1 }}</td>
                </tr>
                <tr>
                <th scope="row">2</th>
                <td>{{ name2 }}</td>
                <td>{{ rollno2 }}</td>
                <td>{{ roomno2 }}</td>
                </tr>
                <tr>
                <th scope="row">3</th>
                <td>{{ name3 }}</td>
                <td>{{ rollno3 }}</td>
                <td>{{ roomno3 }}</td>
                </tr>
                <tr>
                <th scope="row">4</th>
                <td>{{ name4 }}</td>
                <td>{{ rollno4 }}</td>
                <td>{{ roomno4 }}</td>
                </tr>
                <tr>
                <th scope="row">5</th>
                <td>{{ name5 }}</td>
                <td>{{ rollno5 }}</td>
                <td>{{ roomno5 }}</td>
                </tr>
                <tr>
                <th scope="row">6</th>
                <td>{{ name6 }}</td>
                <td>{{ rollno6 }}</td>
                <td>{{ roomno6 }}</td>
                </tr>
                <th scope="row">7</th>
                <td>{{ name7 }}</td>
                <td>{{ rollno7 }}</td>
                <td>{{ roomno7 }}</td>
                </tr>
            </tbody> 
        </table>
    </div>
    {{>imagecontent}}
 {{>footer}}

</body>
</html>


<!-- <span class="sr-only">(current)</span> !-->